body {

    width: 98%;
    height: 100%;
}

.cabecalho {
    background-color: black;
    width: 100%;
}
.cabecalho img {
    width: 20%;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: -0.6%;
}

.container {
    background-color: white; 
    border: 2px solid;
    width: 50%;
    height: 40%;
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 25%;
    margin-bottom: 25%;
}


.container > div,img {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    
}

#dataHora {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 200%;
}